################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
/Investing.com Viewer/obj
/Investing.com Viewer/bin
/Investing.com Viewer/Investing.com.Viewer.csproj.user
