<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Viewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Viewer.Properties.Settings>
            <setting name="HomePage" serializeAs="String">
                <value>https://www.investing.com/currencies/eur-usd-commentary</value>
            </setting>
            <setting name="IsLogVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterIds" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>theBigX</string>
                        <string>Quotes</string>
                        <string>broker_promotions</string>
                        <string>webinars_new</string>
                        <string>findABroker</string>
                        <string>theDisclaimer</string>
                        <string>footerWrapper</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="IsFilterContent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsFilterMessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterIdsStartsWith" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>div-gpt-ad</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FilterClasses" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>midHeader</string>
                        <string>tradeNowRightColumn</string>
                        <string>js-edukit-wrapper</string>
                        <string>doubleLineSeperator</string>
                        <string>curExp</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FilterMessages" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>/members/201938949</string>
                        <string>/members/200910201</string>
                        <string>/members/201725043</string>
                        <string>/members/200529694</string>
                        <string>/members/201163763</string>
                        <string>/members/201251630</string>
                        <string>/members/200620745</string>
                        <string>/members/200118885</string>
                        <string>/members/200024378</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="IsFilterMessagesInverseMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsAddressVisible" serializeAs="String">
                <value>False</value>
            </setting>
        </Viewer.Properties.Settings>
        <CommentsReader.Properties.Settings>
            <setting name="HomePage" serializeAs="String">
                <value>https://www.investing.com/currencies/eur-usd-commentary</value>
            </setting>
            <setting name="IsLogVisible" serializeAs="String">
                <value>False</value>
            </setting>
        </CommentsReader.Properties.Settings>
    </userSettings>
</configuration>